



    transform: rotate(0deg);
    transform: rotate(360deg);
  align-items: center;
  animation: App-logo-spin infinite 20s linear;
  background-color: #282c34;
  color: #61dafb;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  from {
  height: 40vmin;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
  to {
  }
  }
.App {
.App-header {
.App-link {
.App-logo {
@keyframes App-logo-spin {
}
}
}
}
}
